<ion-view>
  <ion-content class="grade">
  </br>
  </br>
    <div class="logodiv">
      <h1 class="logo">  BLANCHE</h1>
    </div>
    <div class="logodiv2"><h1 class="logo">XOXO</h1></div>
    <div class="place">
        <button class="button" style="background-color:rgba(255,255,255,0.4); width: 80%; padding-top: 10px; text-align: center; box-shadow: inset 0px 0px 7px #fff;" ng-click="go_to_stories()">
          
            <h1 class="logo2"> Welcome </h1>
        
        </button>
      </div>
  </ion-content>
</ion-view>
