<ion-view>
  <ion-content class="grade">
  
    <h1 class="logo2"> STORIES </h1>
  </br>
    <div  class="my-col-33">
    <button class="button" style="background-color:rgba(0,0,0,0)" ng-click="go_to_book()">
      <div class="cards" style="width: 100px; height: 135px">
        <h5 class="obook"> Book 1 </h5>
      </div>
    </button>
  </div>
<div  class="my-col-33">
  <button class="button" style="background-color:rgba(0,0,0,0);" ng-click="go_to_faci()">
    <div class="cards" style="width: 100px; height: 135px">
      <!-- <img class="faci2" src="img/bokning.png"> -->
      <h5 class="obook"> Book 2 </h5>
    </div>
  </button>
</div>
<div  class="my-col-33">
  <button class="button" style="background-color:rgba(0,0,0,0)" ng-click="go_to_el()">
    <div class="cards" style="width: 100px; height: 135px">
      <!-- <img class="faci2" src="img/elforbrukning.png"> -->
      <h5 class="obook"> Book 3 </h5>
    </div>
  </button>
</div>
<div  class="my-col-33">
  <button class="button" style="background-color:rgba(0,0,0,0)" ng-click="go_to_info()">
    <div class="cards" style="width: 100px; height: 135px">
      <!-- <img class="faci2" src="img/information.png"> -->
      <h5 class="obook"> Book 4 </h5>
    </div>
  </button>
</div>
<div  class="my-col-33">
  <button class="button" style="background-color:rgba(0,0,0,0)" ng-click="go_to_fel()">
    <div class="cards" style="width: 100px; height: 135px">
      <!-- <img class="faci2" src="img/felanmalan.png"> -->
      <h5 class="obook"> Book 5 </h5>
    </div>
  </button>
</div>
<div  class="my-col-33">
  <button class="button" style="background-color:rgba(0,0,0,0)"   ng-click="go_to_doc()">
    <div class="cards" style="width: 100px; height: 135px">
      <!-- <img class="faci2" src="img/dokument.png"> -->
      <h5 class="obook"> Book 6 </h5>
    </div>
  </button>
</div>
  
  </ion-content>
</ion-view>
